#bloc_page{
    width: 100%;
    margin: auto;
}



.header_main{
    margin-left: 0;
    margin-right: 0;
}

.logo{

    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
}

header{
    display: block;
    
}

.navliens{
    font-size: 1.2em;
    display: flex;
    width: 100%;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 10px;
    padding: 20px;
    margin-top: 0;
}

.navlien1:active{
    border-bottom: 3px solid #0065FC;
    padding-bottom: 10px;
    border-top: 0;
}


.hebergement{
    padding-right: 50px;
}

.inscription{
    color: #0065FC;
    font-weight: bold;
    position: relative;
    top: -65px;
    left: -95px;
    border-bottom: 0;
}


.navigation li {
    padding-top: 15px;
}

.navigation li:hover {
    border: 0;
}

.recherche_filtre{
    margin-top: 30px;
    margin-left: 20px ;
}

.recherche{
    margin-left: 10px;

}


.titre_recherche {
    margin-bottom: 12px;
}

.paragraphe_recherche {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 30px;
}

.boutonrecherche i{
     display: initial;
    }

.lycos{
    display: none;
}

.barre_recherche {

    display: flex;
    width: 100%;
    margin-bottom: 30px;
    
}

input{
font-weight: bolder;
color: black;
width: 90%;
margin-right: -40px;
padding: 15px;
border: 1px solid #F2F2F2;
}

.boutonrecherche {
background-color: #0065FC;
color: white;
font-weight: bold;
border-radius: 15px;
border-color: #0065FC;
width: 55px;
padding:0

}

.lieu {
    font-weight: bolder;
    color: black;
    font-size: 1em;
}
.fa-map-marker-alt {
    background-color: #F2F2F2;
    color: black;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
}


.filters{
    display: block;
}

.filtres {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.titrefiltre{
    font-size: 1.2em;  
}


.filtre{
    
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    background-color: white;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 0;
}

.filter_button {
    padding-left: 5px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
}

.fa-heart,.fa-child,.fa-money-bill-wave,.fa-dog{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 15px;
}

.fa-info {
    color: #0065FC;
    padding: 4px 8px 4px 8px;
    border-radius: 42px;
    border: solid 2px #F2F2F2;
    margin-right: 10px;
    float: left;

}

.info{
    font-size: 0.9em;
}
/*-----------------------------------section hébergements-------------------------------------------------*/
.hebergements {
    display: flex;
    flex-flow: column-reverse;
}

/*-----populaire-----*/

.popularite{
    padding: 24px;
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding-top: 0;
}

.populaires {
    display: flex;
    flex-direction: column;
}

.titrepopulaire {
    font-weight: bold;
    margin-left: 10px;
    width: 95%;
}
.fa-chart-line {
    float: right;
    margin-right: 0px;
}

.figpopulaire {
    background-color: white;
    border-radius: 20px;  
    margin-inline-start: 0px;
    width: 95%;
    margin-left: 10px;
      
}

.figpopulaire3 {
    background-color: white;
    border-radius: 20px;  
    margin-inline-start: 0px;
    width: 95%;
    margin-left: 10px;
    margin-bottom: 35px;
    margin-top: 0;

}

.coeur{
    height: 146px;
    width: 40%;
    object-fit: cover;
border: white 5px;
border-radius: 20px 0 0 20px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 23px;
}
.verte,.parquet {
    height: 146px;
    width: 40%;
    object-fit: cover;
    border: white 5px;
    border-radius: 20px 0 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 23px;
}

.nompopulaire {
    margin-bottom: 0;
    font-size: 1.2em;
}
.prixpopulaire {
    font-size: 1em;
    margin-top: 5px;
    padding-bottom: 20px;
}

.hebergementex {
    background-color: white;
    border-radius: 0px;
    width: 100%;
    padding: 24px;
    padding-bottom: 40px;
}

.exempleshebergements {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.titrehebergement{
    margin-left: 10px;
}

.exemplehebergement{
    padding-bottom: 0px;
}


.fighebergement {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 10px;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
    width: 95%;
    height: 235px;
    margin: 10px;
}

.figcaptionhebergement{
    padding-left: 10px;
}

.lit, .port, .mouette, .mer, .panier, .amina {
    height: 130px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    padding: 5px 5px 0px 5px;
    width: 98%;
}

.nomhebergement{
    font-size: 1.2em;
}

    .afficher {
        font-weight: bold;
        font-size: 1em;
        color: black;
        margin-left: 10px;
}
/*---------------------------activités à Marseille------------------------------------*/

.activites{
    padding-left: 24px;
    padding-bottom: 60px;
}


.titreactivite{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}


.activity{
    display: flex;
    flex-direction: column;
}

.nomactivite{
    font-size: 1.2em;
}

.pomegues_frioul {
    margin-right: 0;
}




.figactivitepc, .figactivitePo, .figactiviteF, .figactiviteG, .figactiviteL{
   height: 235px;
   width: 100%;
   margin-bottom: 0;
   margin-inline-start:0;
   margin-inline-end: 0;
   margin-left: 10px;

}

.imgH, .imgP, .imgF, .imgG, .imgL{
    height: 180px;
    width: 100%;
}
/*----------------------------------------footer---------------------------------*/
footer{
    margin-left: -8px;
    margin-right: -8px;
}

.titrefooter {
    font-size: 1.2em;
}

.footer{
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px ;
}

ul.listefooter{
    font-size: 1.2em;
    padding-inline-start: 0;
}

.footer li{
    padding-bottom: 12px;

}


.propos {
    padding-left: 0px;

}

.assistance{
    padding-right: 0;
}