html{
   
}


/* polices personalisées*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}
a{
    font-size: small;
    color: black;
    text-decoration: none;
}




body {
    font-family: Raleway, "sans-serif";  
}


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;   
}

.logo {
    float:left ;  
    width: 80px;

}

ul {
     display: flex;
     list-style: none;
     margin-right: 40px;
}


.navlien1{
    color:#0065FC;
    font-size: small;
    padding: 25px;
    


}

.navlien2{
    color: black;
    font-size: small;
    padding: 25px;

}

.navlien3{
    color: #0065FC;
    padding: 25px;
    font-size: small;
    font-weight: bold;
}
.hebergement {
    color: #DEEBFF;
}
.activite{
    color: #DEEBFF;
}
.inscription{
    color:#0065FC;
    font-weight: bold;
  
}

.paragrapherecherche{
    font-size: small;
    margin-top: -15px;
}

.formrecherche{

}

.filtres{
display: flex;
margin-top: 20px;

}

.filtre:hover{
    color :aqua;
    text-decoration:blink ;

}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    color: black;
    padding: 8px 8px 10px 8px;
    margin: -5px;
    border-radius:10px 0px 0px 10px ;
    
}

input{
    padding: 8px 8px 8px 8px;
    border: 1px solid #F2F2F2;
   
}
.boutonrecherche{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius:0px 10px 10px 0px ;
    padding: 8px 8px 8px 8px;
    margin: -5px;
    border:solid;
}
.fa-heart, 
.fa-child,
.fa-money-bill-wave,
.fa-dog  {
    color: #0065FC;
    background-color:#DEEBFF;
    line-height: 40px;
  height: 40px;
  width: 40px;
 text-align: center;
    border-radius: 50%;
    margin-left: -2px;
    align-self: flex-end;
     
}

.titrefiltre{
    margin-right: 20px;
    font-weight: bold;
}

.filtres{
    margin-top: 10px;
    display: flex;
    align-items: center;
  
}

.filtre{

    border-radius: 40px;
    border: 2px solid #F2F2F2;
    background-color: white;
    margin: 0 5px;
  
}

.filter_button{
   border-radius: 40px; 
   background-color:transparent;
   border:none;
   font-weight: bold;
              
}

.info{
    margin-top: 25px;
    font-size: small;
    
}

.fa-info-circle{
    color: white;
    background-color: #0065FC;
}
        
.resultatrecherche{

}

/*--------------------------------------------------------------------------------------------SECTION HEBERGEMENTS------------------------------------------------------------------------------------*/
.hebergements{
  
  display: flex;
  height: 800px;



}
/*-----------------------------------------------------------------------------------------Division Hébergements à Marseille--------------------------------------------------------------------------*/
.hebergementex{
    
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin:20px 20px 20px 20px;
    padding: 10px; 
    height: 615px;
    
 
}

.titrehebergement{
    font-weight: bold;
    line-height: 80px;
    padding-left: 30px;

}
.exempleshebergements{/*hotel*/

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 80px 0   
    
}

.exemplehebergement{ 
    
    
    height: 150px;
    
    display: flex;
    align-items: center;
 
    
   
}

.lit,
.port,
.mouette,
.mer,
.panier,
.amina {
    height: 115px;
    width: 205px;
    border-radius:20px;
    object-fit: cover;
    padding:5px 5px 0px 5px
  
}

.fighebergement{
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 195px;
    
    padding-right: 20px;

}

.nomhebergement{
    font-weight: bold;
    font-size: small;
    color: black;
    padding-left: 8px;
    line-height: 0px;       
}

.prixhebergement{
    font-size:x-small;
    color: black;
    padding-left: 8px;

}

.afficher{
    font-weight: bold;
    font-size: small;
    color: black;
    padding-left: 40px;

}
/*---------------------------------------------------------------------------------------------------------------------------Les plus populaires---------------------------------------------------------------------------*/
.popularite{

    background-color: #F2F2F2;
    border-radius: 20px;
    margin:20px 20px 20px 20px;
    padding: 30px; 
    height: 575px;

}

.titrepopulaire{
    font-weight: bold;

}

.populaires{ 
    display: flex;
    flex-direction: column;
    grid-gap:30px;
    align-items: center;
       
}
.populaire{ 
   
   
    height: 150px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    
}

.figpopulaire{
    background-color: white;
    border-radius: 20px;
    height: 140px;
    width: 280px;
    display: inline-flex;
    padding-right: 20px;
    
}

.verte, 
.coeur,
.parquet{
    height: 130px;
    width: 120px;
    object-fit: cover;
    border :white 5px;
    border-radius: 20px 0 0 20px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
}


.nompopulaire{
    font-size: small;
    font-weight: bold;
    color: black;
    
   

}

.prixpopulaire{
    font-size: x-small;
    color: black;

}

.rating{
color: #0065FC;
font-size: x-small;

}

span{
    color: #F2F2F2

    
}
/*-----------------------------------------------------------------------------SECTION ACTIVITES A MARSEILLE-----------------------------------------------------------------------------*/

.activites{
    display: flex;
    margin-top: 10px;
}

.titreactivite{
    
    display: block;

}
.nomactivite{
    font-weight: bold;
    font-size: small;
    color: black;
    padding-left: 20px;
    line-height: 5px;
}

.imgH{                     /*div 1 et 3*/
    height: 390px;
    width: 320px;
    border-radius:20px 20px 0 0 ;
    object-fit: cover;
    
}

.figactivitepc{

    background-color: white;
    border-radius: 20px;
    height: 425px;
    width: 320px;
    box-shadow: 0 0 12px #F2F2F2;
}
/***************************************************div2 Pomègues Fioul**********************************************************/
.pomegues_frioul{
    flex-direction: column;
    padding-left: 10px;
        
}

.figactivitePo{
    background-color: white;
    border-radius: 20px;
    height: 220px;
    width: 320px;
    box-shadow: 0 0 12px #F2F2F2;
    padding-bottom: 15px;
    
}
.imgP{
    height: 195px;
    width: 320px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

}

.figactiviteF{
    background-color: white;
    border-radius: 20px;
    height: 135px;
    width: 320px;
    box-shadow: 0 0 12px #F2F2F2;

}
.imgF{
    height: 100px;
    width: 320px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
  


 .imgG{
     height: 130px;
     width: 320px;
     object-fit: cover;
     border-radius: 20px 20px 0 0;
 }

 .imgL{
    height: 165px;
    width: 320px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
     
 }   
   

.garde_longchamp{
    display: flex;
    flex-direction: column;
   
    
}

/********************************************footer*****************************************/

.footer{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.propos,
.nos_hebergements,
.assistance{
    font-size: small;
    color: black;
   
    
   
}

.listefooter{
    flex-direction: column;
 


}

.titrefooter{
    font-weight:bold;
   

}