
  

/* polices personalisées*/

@font-face 
{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}


h1, h2{
    font-size: 1.8em;
    font-weight: bold;

}

h3{
    font-size: 1.2em;
}
a{
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}
body
{
    font-family: Raleway, "sans-serif";  
}


header 
{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
}

.logo 
{
    float:,none ;  
    width: 80px;
}

.inscriremob{
    display: none;
}
ul 

{
     display: flex;
     list-style: none;
     margin-right: 40px;
     padding-inline-start: 0px;
}

.navigation li{
    
    border-top: 2px solid transparent;
    border-collapse: collapse;
    padding-top: 10px;
    width: 100%;

}

.navigation  li:hover
{
   
    border-top:2px solid #0065FC;
    cursor: pointer;
   
}

.navlien1
{
    color:#0065FC;
    padding: 25px;
}

.navlien2
{
    color: black;
    padding: 25px;
}

.navlien3
{
    color: #0065FC;
    padding: 25px;
    font-weight: bold;
}

.hebergement
{
    color: #DEEBFF;
}

.activite
{
    color: #DEEBFF;
}

.inscription
{
    color:#0065FC;
    font-weight: bold;
  
}
.titre_recherche
{
    margin-bottom: 5px;

}
.paragraphe_recherche
{
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 25px;
}

.barre_recherche
{
    display: flex;

}



.fa-map-marker-alt
{
    background-color: #F2F2F2;
    color: black;
    padding: 25px;
    border-radius:10px 0px 0px 10px ;
    
}

input
{
    padding: 25px;
    border: 1px solid #F2F2F2;  
}

.boutonrecherche
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius:0px 20px 20px 0px ;
    width: 150px;
    border-color: #0065FC;
}

.boutonrecherche i{
    display: none;
}

.lieu{
    font-weight: bolder;
    color: black;
    font-size: 1.2em;
}

.fa-heart, 
.fa-child,
.fa-money-bill-wave,
.fa-dog 
{
    color: #0065FC;
    background-color:#DEEBFF;
    border-radius: 50%;
    padding: 20px;
    margin-top: -1px;
    margin-left: -1px;
    font-size: 20px;
   
}

.fa-heart:hover
{   background-color: pink;
    color: red;   
}


.fa-dog:hover
{   background-color: lightgreen;
    color:black;

}
.fa-child:hover
{   background-color:lightsalmon;
    color:black;
}

.fa-money-bill-wave:hover
{background-color:yellow;
    color:green;
}



.filtremob{
    display: none;
}

.titrefiltre
{
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.filtres
{
    margin-top: 40px;
    display: flex;
    
}

.filtre
{
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    background-color: white;
    margin: 0 15px;
    padding-right: 30px;
}



.filter_button
{
   padding-left: 30px;
   background-color:transparent;
   border:none;
   font-weight: bold; 
   font-size: 1.2em;           
}

.info
{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.1em;
      
}

.fa-info
{
    color:#0065FC;
    padding:4px 9px 4px 9px;
    border-radius: 50px;
    border: solid 2px #F2F2F2;
    margin-right: 10px;
    
}
        

/*--------------------------------------------------------------------------------------------SECTION HEBERGEMENTS------------------------------------------------------------------------------------*/
.hebergements
{
  display: flex;
}
/*-----------------------------------------------------------------------------------------Division Hébergements à Marseille--------------------------------------------------------------------------*/
.hebergementex
{
    
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 45px;
 
    
}

.titrehebergement
{
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}

.exempleshebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
       
}

.exemplehebergement
{
    padding-bottom: 10px;

}




.lit,
.port,
.mouette,
.mer,
.panier,
.amina 
{
    height: 156px;
    width: 352px;
    border-radius:20px 20px 0 0;
    object-fit: cover;
    padding:5px 5px 0px 5px 
}

.fighebergement
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 10px;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
    box-shadow :  2px  1px  5px  2px #F2F2F2
}

.nomhebergement
{
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    padding-left: 8px;
    line-height: 0px;       
}

.prixhebergement
{
    font-size:1em;
    color: black;
    padding-left: 8px;
}

.afficher
{
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    padding-left: 40px;
}
/*---------------------------------------------------------------------------------------------------------------------------Les plus populaires---------------------------------------------------------------------------*/
.popularite
{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin:0px 20px 0px 20px;
    padding: 30px; 
  
}

.fa-chart-line{
    float: right;
}

.populaires
{ 
    display: flex;
    flex-direction: column;
      
}


.figpopulaire
{
    background-color: white;
    border-radius: 20px;
    width: 438px;
    display: inline-flex;
    
}

.verte, 
.coeur,
.parquet
{
    height: 165px;
    width: 180px;
    object-fit: cover;
    border :white 5px;
    border-radius: 20px 0 0 20px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
}


.nompopulaire
{
    font-size:1.2em;
    font-weight: bold;
    color: black;
}

.prixpopulaire
{
    font-size: 1em;
    color: black;
    padding-bottom: 10px;
}

.rating
{
    color: #0065FC;
    font-size: x-small;
    padding-left: 8px;
}

.ratingpop
{
    color: #0065FC;
    font-size: x-small;
}
}


span{
    color: #F2F2F2   
}
/*-----------------------------------------------------------------------------SECTION ACTIVITES A MARSEILLE-----------------------------------------------------------------------------*/
.pom_mob, .fri_mob, .garde_mob, .long_mob{
    display:none
}






.activity
{
    display: flex;
    justify-content: space-between;
    margin-inline-start: -40px;
}


.titreactivite
{
    margin-top: 50px;
    margin-bottom: 0px;
}

.nomactivite
{
    font-weight: bold;
    color: black;
    padding-left: 20px;
    line-height: 5px;
}

.imgH
{                     /*div 1 et 3*/
    height: 560px;
    width: 400px;
    border-radius:20px 20px 0 0 ;
    object-fit: cover;  
}

.figactivitepc
{
    background-color: white;
    border-radius: 20px;
    height: 610px;
    width: 400px;
    box-shadow: 0 0 12px #F2F2F2;
}
/***************************************************div2 Pomègues Fioul**********************************************************/
.pomegues_frioul
{
    flex-direction: column;
    padding-left: 10px;      
}

.figactivitePo
{
    background-color: white;
    border-radius: 20px;
    height: 300px;
    width: 400px;
    padding-bottom: 5px;
    box-shadow: 0 0 12px #F2F2F2;
}

.imgP
{
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.figactiviteF
{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 0 12px #F2F2F2;
    padding-bottom: 5px;
    height: 282px;
}

.figactiviteG{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 0 12px #F2F2F2;
    padding-bottom: 5px;
    height: 285px;
}

.figactiviteL{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 0 12px #F2F2F2;
    padding-bottom: 5px;
    height: 278px;
}

.imgF
{
    height: 232px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
  
 .imgG
 {
     height: 235px;
     width: 400px;
     object-fit: cover;
     border-radius: 20px 20px 0 0;
 }

 .imgL
 {
    height: 228px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;    
 }   
   
.garde_longchamp
{
    display: flex;
    flex-direction: column;   
}

/********************************************footer*****************************************/

.footer
{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.propos,
.nos_hebergements,
.assistance
{
    font-size: 0.8em;
    color: black; 
}

.listefooter
{
    flex-direction: column;
}

.titrefooter
{
    font-weight:bold;
    font-size: 1.2em;
}

.propos{
    padding-left: 20px;
}

.assistance{
    padding-right: 400px;
}